.container{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;    
     margin: 80px auto;
      padding: 2.2em;           
  }
  .container *{
    width: 100%;
  }
 
.sub_title{
margin: 1rem 0;
align-self:baseline;
}

.link_book{
  max-width: 300px;
  font-weight: 400;
   padding: .5rem; 
}