
.nav_container{
height:auto;
  width:100%;
display: flex;
justify-content: space-between;
align-items: baseline; 
padding: 0 20px;

}

.nav_input, .nav_label{
  display:none;
}
.line{
  width: 15px;
  height: 2px;
  margin-top: 3px;
  background-color: var(--primary_text);
  display: block;
  transform-origin: 0px 100%;
  transition: all 300ms;
}
.nav_menu{
  display:flex;
  align-items: baseline;
  gap:1em;
  list-style: none;
  
}
.nav__item{

  text-decoration:none;
  color:var(--other_text);
  text-transform:uppercase;
  --clippy:polygon(0 0, 0 0, 0 100%,0% 100%);
  font-size: 1rem;
    
}
.resume{
  display: block;
  font-size: 1rem;
  padding: .625em;
}
.nav__item::after{
  content:"";
  display:block;
  background:var(--other_text);
  width:98%;
  margin-top:3px;
  height:3px;
  clip-path:var(--clippy);
  transition:clip-path .3s;
}

.nav__item:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%,0% 100%);
    color: var(--primary_text);
}

@media (max-width:600px ){
  .nav_container{
    background-color: var(--background);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
  }
  .nav_label{
    display:block;
    cursor:pointer;
    fill: var(--primary_text);
    margin-top: 20px;
    transform: scale(1.5);
    
  }
.nav_menu{
    position:fixed;
    top:70px;
  background:var(--background);
  width:100%;
  height: 100%;
  left:0;
  display:flex;
  flex-direction:column;
  align-items:center;
  clip-path:circle(0 at center);
  transition:clip-path .3S ease-in-out;
  z-index: 1000;
  padding-top: 80px;

  }

.nav_input:checked + .nav_label .line_1{
  transform: rotate(45deg) translate(-2px,4px);
}
.nav_input:checked + .nav_label .line_3{
  transform: rotate(-45deg) translate(-4px,-1px);
}
.nav_input:checked + .nav_label .line_2{
 
  opacity: 0;
  margin-left: -40px;
}
.nav_input:checked ~ .nav_menu{
  clip-path:circle(100% at center);

}
 
}