.workeds {
  margin: 0 auto;
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  padding: 2.2em;
}

.worked {
  display: flex;
  flex-wrap: wrap;
 margin-top: 20px;
  gap: 20px;
 justify-content: center;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  gap: 10px;
}
.separator {
  width: 30%;
  height: 1px;
  border: solid 1px var(--primary_text);
}
.section {
  display: block;
  max-width: 70%;
}

.bar {
 
  border: none;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 200px;
  flex: 0 1 300px;
  margin-right: 20px;
}
.employ {
  max-width: 600px;
  flex: 0 0 300px;
}

.bar > input[type="radio"] {
  display: none;
}

.bar > label {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-size: 0.9rem;
  color: var(--secondary_text);
  user-select: none;
}

.bar > label::before {
  width: auto;
  content: "";
  border-left: 5px solid var(--primary_text);
  border-bottom: 5px solid var(--primary_text);
  border-top: 5px solid var(--primary_text);
  margin: 0px;
  padding: 0px;
  position: relative;
  left: -3px;
}
.bar > input[type="radio"]:checked + label {
  display: block;

  height: 1;
  transition: 0.5s;
  background: rgba(100, 255, 218, 0.2);
}
.bar > input[type="radio"]:checked + label::before {
  content: "";
  transition: 0.5s;
  font-weight: 100;
  border-left: 5px solid var(--primary_text);
  border-bottom: 5px solid var(--primary_text);
  border-top: 5px solid var(--primary_text);
  margin: 0px;
  padding: 0px;
  position: relative;
  left: -3px;
}

.employ > p::before {
  content: "";
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent var(--primary_text);
  position: absolute;
  margin: 9px -20px;
}
.employ > span {
  color: var(--other_text);
}



.job {
  color: var(--other_text);
}
