.about {
  max-width: 800px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  
}
.separator {
  width: 50%;
  height: 1px;
  border: solid 1px #64ffda;
  margin-left: 20px;
  margin-bottom: 0px;
 
}
.section{
display: block;
width: initial;

}


.skill {
  max-width: 200px;
  column-count: 2;
  column-gap: 20px;
}

.tec {
  display: block;
}
.abouts {
  
  flex: 1 1 400px;
}
.img {
  max-width: 300px;
  position: relative;
  margin: 20px;
}
.img img {
  border-radius: 10px;
}
.img::before {
  content: "";
  width: 300px;
  height: 250px;
  position: absolute;
  border: solid 2px #64ffda;
  border-radius: 10px;
  left: 20px;
  top: 20px;
}
