.about {
  max-width: 800px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
}
.separator {
  height: 1px;
  border: 1px solid rgba(168, 178, 209, 0.5);

  margin-left: 20px;
  margin-bottom: 0px;
  flex: 0 1 200px;
}
.parraf {
  text-align: justify;
}

.skill {
  max-width: 200px;
  column-count: 2;
  column-gap: 20px;
}

.tec {
  display: block;
}
.abouts {
  max-width: 450px;
  flex:0 1 400px;
  
}
.img {
  max-width: 300px;
  position: relative;
  margin: 20px;

}
.img img {
  border-radius: 10px;
}
.img::before {
  content: "";
  width: 300px;
  height: 250px;
position: absolute;
border: solid 2px #64FFDA;
border-radius: 10px;
left: 20px;
top: 20px;

}
