.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.link {
  font-size: 12px;
  line-height: 14px;
  padding: 2em;
  text-transform: uppercase;
  color: white;
}
.link:hover {
  color: #64FFDA;
}
.links{
  list-style: none;
  display:  flex;
}

.link:hover {
  color: red;
}