.toTop{
    height: 64px;
    width: 64px;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 0px;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background-image: none;
    display: block;
  
    background-color: #551bb3;
    border-radius: 50%;
    position: fixed;
    opacity: 0.85;
}


