
.proyects{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 20px;

   justify-content: center;
   align-items: center;
}
.proy{
    background: #112240;
    padding: 1rem;
    max-width: 400px;
}
.proyects > h6{
  line-height: 1em;
  margin-top: 20px;

}

.proy > div:nth-child(1){
    color:aquamarine;
}
.proy > div > a{
    color: #A8B2D1;
    
}
.proy > span {

    color: #A8B2D1;
    font-size: 0.5rem;
    font-weight: 1000;
    line-height: 1.5rem;

}

.proy >h5{

    color: #A8B2D1;
    font-size: 0.9rem;
    line-height: 1.5rem;
   

}

.proy  > p {
    color: #D9D9D9;
    font-size: 0.5rem;
    line-height: 1.5rem;
    margin: 0;

}
.proy > div {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 10px;
}
.button {
    grid-column: 2;
    margin: 20px 0;
    min-width: 100px;

}