html,
body {
  padding: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0px;
  margin: auto;
  background: #020C1B;
  font-family: 'Poppins', sans-serif;
  width: 80vw;
  font-size: 23px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  font-size: 0.6rem;
  font-family: 'Poppins';
  font-style: normal;
  color: #A8B2D1;

}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;;
  line-height: 80px;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  
  color: #D9D9D9;
}
span{
font-weight: 300;
line-height: 38px;
font-size: 0.6rem;
color: #64FFDA;
}
button{
  flex: -1 1 100px;
  box-sizing: border-box;

  font-size: 0.6em;
  background-color: rgba(0,0,0,0);
  border: 2px solid #64FFDA;
  border-radius: 10px;
  color: #64FFDA;

}

