html,
body {

  background: #020C1B;
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  font-size: 23px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #64FFDA; 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #64FFDA; 
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  font-size: 0.6rem;
  font-family: 'Poppins';
  font-style: normal;
  color: #A8B2D1;

}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  color: #D9D9D9;
}
h5{
  font-size: 1em;

}

span{
font-weight: 300;
line-height: 38px;
font-size: 0.6rem;
color: #64FFDA;
}
button{
  flex: -1 1 100px;
  box-sizing: border-box;

  font-size: 0.6em;
  background-color: rgba(0,0,0,0);
  border: 2px solid #64FFDA;
  border-radius: 10px;
  color: #64FFDA;

}

